@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    font-family: Special Elite, sans-serif;
    text-align: center;
    background-color: #E8E8E8;
    
}

/* main container styling */

.main-container {

    justify-content: center;
    width: auto;
}

/* styling for selected item section */

.selector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.selection {
    vertical-align:top;
    
}

/* choice section styling */

.choices {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    
}

/* footer styling */

footer {
    position: absolute;
    width: 100%;
    text-align: center;

}

/* media query for responsivness below break point of 540px */

@media screen and (max-width:540px) {

.selector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px; 
}   
}
